@model TeamworkSystem.Models.ViewModels.Trainer.Courses.TrainerCourseCriteriaViewModel

@{
    ViewBag.Title = "Criteria";
}
<div class="container-fluid">
    <h2>Criteria</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Course.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.MaxGrade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.MaxGrade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.AssistantsCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.AssistantsCount)
            </dd>

        </dl>
    </div>
    <table class="table table-striped custab">
        <tr>
            <th>
                Name
            </th>
        </tr>
        @foreach (var user in Model.Criteria)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => user.Name)
                </td>
            </tr>
        }
    </table>
    <div class="form-horizontal">
        @using (Html.BeginForm("Criteria", "Courses", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Course.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
