@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Users
@model AllUsersCollaboratorsViewModel
@{
    ViewBag.Title = this.Model.Username + " - Collaborators";
}


@Html.Action("GetUserInfo", new { username = Model.Username })


<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="pull-left">
                <h3 class="panel-title">Collaborators</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @foreach (var user in Model.Collaborators)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mini-stat-type-6 bg-success">
                        @Html.Image(@Url.Content(user.ProfilePhoto), "profile-avatar img-circle img-bordered-success  center-block", "Profile Picture")
                        @Html.ActionLink(user.FullName, "Show", "Users", new { username = user.Username }, new { @class = "small-box-footer" })
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Pages(Model.Pager, Url.Action("Collaborators", "Users"))
</div>
