@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Users
@model AllUsersTeamsViewModel
@{
    ViewBag.Title = this.Model.Username + " - Teams";
}


@Html.Action("GetUserInfo", new { username = Model.Username })


<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="pull-left">
                <h3 class="panel-title">Teams</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @foreach (var team in Model.Teams)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mini-stat-type-6 bg-success">
                        <div class="inner">
                            <p>
                                <strong>@Html.DisplayFor(modelItem => team.Name)</strong>
                            </p>
                            <p>@Html.DisplayFor(modelItem => team.CountMembers) Members</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <br>
                        <div>
                            @Html.ActionLink("Team", "Show", "Teams", new { id = team.Id }, new { @class = "small-box-footer" })
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    @Html.Pages(Model.Pager, Url.Action("Teams", "Users"))
</div>
