@using TeamworkSystem.Extensions
@model TeamworkSystem.Models.ViewModels.Trainer.Projects.TrainerAllProjectsViewModel
@{
    ViewBag.Title = "Project";
}

<div class="container-fluid">
    <h2>Project</h2>

    <table class="table table-striped custab">
        <tr>
            <th>
                Name
            </th>
            <th>
                Team
            </th>
            <th>
                Course
            </th>
            <th>
                Date
            </th>
            <th>
                Active
            </th>
            <th>
                Public
            </th>
            <th>
                Vote
            </th>
            <th>
                Grade
            </th>
        </tr>

        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Projects", new { id = item.Id, area = "Trainer" }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.Pages(Model.Pager, Url.Action("Index", "Projects"))
    </div>
    <br />
    <div>
        @Html.ActionLink("Back to Trainer Panel", "Index", "Home")
    </div>
</div>