@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Teams
@model AllTeamsProjectsViewModel
@{
            ViewBag.Title = "Team - " + Model.Team.Name;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            @Html.Partial("_TeamInfo", Model.Team)

            <div class="clearfix"></div>
            <div class="cbp-l-member-biodata">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Projects</h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                @foreach (var project in Model.Projects)
                                {
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <div class="project-item">
                                            @Html.Image(Url.Content(project.ProjectPhoto), "project-img img-responsive", "Project")
                                            <div class="project-details">
                                                <h4 class="project-title">@Html.ActionLink(@project.Name, "Index", "Projects", new { id = project.Id }, null)  </h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (Model.Pager.EndPage > 1)
                            {
                                <ul class="pagination">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li>
                                            @Html.ActionLink("First", "Projects", "Teams")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Previous", "Projects", "Teams", new { page = Model.Pager.CurrentPage - 1 }, null)
                                        </li>
                                    }

                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {
                                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                            @Html.ActionLink(page.ToString(), "Projects", "Teams", new { page = @page }, null)
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li>
                                            @Html.ActionLink("Next", "Projects", "Teams", new { page = Model.Pager.CurrentPage + 1 }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Last", "Projects", "Teams", new { page = Model.Pager.TotalPages }, null)
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
