@using TeamworkSystem.Models.ViewModels.Teams
@model TeamViewModel
@{
            ViewBag.Title = "Team";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Action("TeamInfo","Teams",new{id = Model.Id})


            <div class="cbp-l-member-biodata">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Projects</h3>
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("All Projects", "Projects", "Teams", new { id = Model.Id },new {@class= "panel-title" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                @foreach (var project in Model.Projects)
                                {
                                    @Html.Partial("_Project", project)
                                }
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Courses</h3>
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("All Projects", "Courses", "Teams", new { id = Model.Id }, new { @class = "panel-title" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                @foreach (var cours in Model.Courses)
                                {
                                   @Html.Partial("_Course", cours)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>