@using TeamworkSystem.Extensions
@using TeamworkSystem.Models.ViewModels.Teams.Board
@model TeamTasksViewModel
@{
    ViewBag.Title = "Team Tasks";
}
<div>
    @Html.Action("BoardInfo", new { id = Model.TeamId })


    @using (Html.BeginForm("Complete", "Teams", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Team Board</h3>
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action("AddTask","Teams",new{id = Model.TeamId})" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i></a>
                        @Html.HiddenFor(m => m.TeamId)
                        <span><input type="submit" value="Complete" class="btn btn-success" /></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body form-group">
                    @foreach (var task in Model.Tasks)
                {
                        <div class="col-md-4">
                            <div class="team-board-list panel primary">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title text-uppercase">
                                            <i class="fa fa-calendar"></i> @Html.DisplayFor(model => task.StartDate) - @Html.DisplayFor(model => task.EndDate)
                                            <input type="checkbox" name="tasksId" value="@Html.DisplayFor(model => task.Id)">
                                        </h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <p class="team-board-message text-capitalize">@Html.DisplayFor(model => task.Content)</p>
                                    <br/>
                                    <p class="team-board-author text-muted text-capitalize">@Html.DisplayFor(model => task.Author)</p>
                                </div>
                                <br />
                                <div class="panel-footer">
                                    @foreach (var member in task.Members)
                                    {
                                        <a href="@Url.Action("Show", "Users", new {username = member.Username})">@Html.Image(member.ProfilePhoto, "user-avatar img-circle", "Profile Picture")</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>